html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #333;
}

.container {
  padding: 2rem 5rem;
  height: 22rem;
  overflow: scroll;
  scrollbar-color: black;
}

.draggable {
  padding: 1rem 2rem;
  background-color: #111;
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.7;
}

p {
  color: wheat;
}
