*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.title {
  z-index: 1000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  flex-direction: column;
  gap: 0.5rem;
}

.hide {
  display: none;
}

.bird {
  --bird-size: 60px;
  --bird-top: -1000;

  height: var(--bird-size);
  width: var(--bird-size);
  border-radius: 50%;
  background-color: hsl(50, 75%, 50%);
  position: absolute;
  left: var(--bird-size);
  top: calc(var(--bird-top) * 1px);
}
