html {
  font-size: 62.5%;
}

:root {
  --color-primary: rgb(54, 112, 199);
  --color-light: #f4f4f4;
  --color-dark: #333;
  --color-warning: rgb(99, 36, 36);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  background-color: var(--color-primary);
  color: var(--color-light);
  display: grid;
  grid:
    "header header header header" auto
    ".... lists active-list-tasks ...." auto /
    1fr minmax(10rem, 30rem) minmax(25rem, 50rem) 1fr;
  row-gap: 5rem;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 3px;
  margin-top: -2rem;
}

.all-lists {
  grid-area: lists;
}

.todo-list {
  grid-area: active-list-tasks;
}

.lists {
  font-size: 2rem;
  list-style: circle;
  line-height: 1.7;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.active {
  font-weight: 700;
}

.new-list,
.new-task {
  color: inherit;
  background: transparent;
  border: 0;
  border-bottom: 1px solid currentColor;
  outline: none;
  padding-bottom: 0.3rem;
  font-size: inherit;
  width: 70%;
  margin-left: 2.5rem;
}

.new-list {
  font-size: 1.5rem;
}

.add-new-task-form {
  font-size: 1.5rem;
}

.underline {
  width: 70%;
  display: block;
  content: "";
  height: 2px;
  background-color: transparent;
  transition: all 300ms;
  margin-left: 2.5rem;
}

.new-list::placeholder,
.new-task::placeholder {
  color: inherit;
  transition: all 300ms;
}

.new-list:focus + .underline,
.new-task:focus + .underline {
  background-color: var(--color-light);
}

.new-list:focus::placeholder,
.new-task:focus::placeholder {
  opacity: 0.3;
}

form {
  position: relative;
}

.add-list-btn,
.add-task-btn {
  position: absolute;
  left: 0%;
  transform: translateY(-50%);
  cursor: pointer;
  background: 0;
  border: 0;
  color: inherit;
  transition: opacity 250ms ease-in;
}

.add-list-btn {
  font-weight: 900;
  font-size: 2.5rem;
  top: 41%;
}

.add-list-btn:hover {
  opacity: 0.7;
}

.add-task-btn {
  top: 50%;
}
