@font-face {
  font-family: "Creepy";
  src: url("Assets/Fonts/Creepy.woff") format("woff"),
    url("Assets/Fonts/Creepy.woff2") format("woff2");
}
@font-face {
  font-family: "Lunacy";
  src: url("Assets/Fonts/Lunacy.woff") format("woff"),
    url("Assets/Fonts/Lunacy.woff2") format("woff2");
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  background: radial-gradient(#9d5900, #3d2200);
  cursor: url("Assets/Cursors/Ghost.cur"), auto;
}

.title {
  color: #ff6d00;
  font-family: Creepy, serif;
  font-weight: normal;
  text-align: center;
  font-size: 6rem;
  margin-top: 20px;
}

.game-info-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}
.game-info {
  color: #ffbb89;
  font-size: 4rem;
  font-family: Lunacy, serif;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  justify-content: center;
  margin: 50px;
  perspective: 500px;
}

.card {
  height: 155px;
  width: 105px;
  position: relative;
  transform-style: preserve-3d;
}
.card-face {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  transition: transform 500ms ease-in-out;
}
.card.visible .card-front {
  transform: rotateY(0deg);
}
.card.visible .card-back {
  transform: rotateY(-180deg);
}
.card-front {
  transform: rotateY(180deg);
  background-color: #ffbb89;
  border-color: #333;
}
.card-back {
  background-color: black;
  border-color: #ff6d00;
}
.card:hover .cob-web {
  height: 45px;
  width: 45px;
}
.card-back:hover .spider {
  transform: translateY(0);
}
.card-front:hover .card-value {
  transform: scale(1.1);
}
.card:hover {
  cursor: url("Assets/Cursors/GhostHover.cur"), auto;
}
.card.matched .card-value {
  animation: dance 1s linear 500ms infinite;
}

@keyframes dance {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
}

.cob-web {
  position: absolute;
  height: 37px;
  width: 37px;
  transition: all 100ms ease-in-out;
}
.cob-web-top-left {
  top: 0;
  left: 0;
  transform: rotate(270deg);
}
.cob-web-top-right {
  top: 0;
  right: 0;
  transform: rotate(0deg);
}
.cob-web-bottom-left {
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}
.cob-web-bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate(90deg);
}

.spider {
  align-self: flex-start;
  transform: translateY(-10px);
  transition: transform 100ms ease-in-out;
  height: 105px;
}
.card-value {
  height: 45px;
  transition: all 100ms ease-in-out;
}

.overlay-text {
  text-align: center;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #ff6d00;
  font-family: Creepy, serif;
  font-size: 10rem;
}
.overlay-text.show {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}
.overlay-text-small {
  font-size: 3rem;
  animation: small-overlay-grow 500ms;
}
@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@keyframes small-overlay-grow {
  0% {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
}

@media (min-width: 1035px) {
  .game-container {
    grid-template-columns: repeat(8, auto);
  }
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto);
    gap: 20px;
  }

  .game-info {
    display: flex;
    flex-direction: column;
  }

  .overlay-text {
    font-size: 6rem;
  }

  .overlay-text-small {
    font-size: 2rem;
  }
}
