html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  background-color: hsl(240, 3%, 7%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.6rem;
  font-size: clamp(1rem, 2.5vmin, 1.5rem);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(min-content, 2rem));
  grid-auto-rows: 4rem;
  justify-content: center;

  gap: 0.45rem;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness, 51%) + var(--lightness-offset, 0%))
  );
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: 0.3rem;
  cursor: pointer;
  user-select: none;
}

.large {
  grid-column: span 3;
}

.key:hover,
.key:focus {
  --lightness-offset: 10%;
}

.key.wrong {
  --lightness: 23%;
}

.key.wrong-location {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.key.correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}

.guess-grid {
  display: grid;
  grid-template-columns: repeat(5, 5rem);
  grid-auto-rows: 5rem;
  gap: 0.4rem;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.tile {
  color: white;
  font-size: 3rem;
  border: 0.05rem solid hsl(240, 2%, 23%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
  transition: transform 250ms ease;
}

.tile[data-state="active"] {
  border-color: hsl(200, 1%, 34%);
}

.tile[data-state="wrong"] {
  background-color: hsl(240, 2%, 23%);
  border: none;
}

.tile[data-state="wrong-location"] {
  border: none;
  background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"] {
  border: none;
  background-color: hsl(115, 29%, 43%);
}

.tile.dance {
  animation: dance 0.5s ease-in-out;
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }

  40% {
    transform: translateY(-5%);
  }

  60% {
    transform: translateY(-25%);
  }

  80% {
    transform: translateY(2.5%);
  }

  90% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}

.tile.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  20% {
    transform: translateX(-5%);
  }

  40% {
    transform: translateX(5%);
  }

  60% {
    transform: translateX(-7.5%);
  }

  80% {
    transform: translateX(7.5%);
  }

  100% {
    transform: translateX(0);
  }
}

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5rem;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}

.flip-tile {
  transform: rotateX(90deg);
}
