*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #333;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  font-size: 7.5vmin;
}

.game-board {
  position: relative;
  background-color: #ccc;

  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  gap: var(--cell-gap);

  border-radius: var(--border-radius);
  padding: var(--cell-gap);
}

.cell {
  background-color: #aaa;
  border-radius: var(--border-radius);

  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  position: absolute;
  background-color: hsl(200, 50%, calc(var(--lightness) * 1%));
  color: hsl(200, 50%, calc(var(--text-lightness) * 1%));

  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--cell-size);
  width: var(--cell-size);

  top: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));

  font-weight: bold;
  border-radius: var(--border-radius);

  animation: show 250ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
}
