* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --correct-gradient: linear-gradient(to bottom right, lightgreen, darkgreen);
  --wrong-gradient: linear-gradient(to bottom right, red, darkred);
  --neutral-gradient: linear-gradient(to bottom right, lightblue, darkblue);
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--neutral-gradient);
}

h1 {
  margin-bottom: 2rem;
  color: transparent;
  background-image: var(--neutral-gradient);
  -webkit-background-clip: text;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.3);
  width: 70rem;
}

.container.max-width {
  width: auto;
  max-width: 70rem;
}

.answers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.controls-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  position: relative;
  padding: 2rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-image: var(--neutral-gradient);
  color: white;
  font-weight: 700;
  font-size: 3rem;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.125s;
}

.btn-control {
  font-size: 5rem;
}

.btn:active {
  transform: translateY(2px);
}

.btn::before {
  background-image: linear-gradient(
    to bottom right,
    rgba(173, 216, 230, 0.8) 50%,
    rgba(173, 216, 230, 0.8) 50%
  );
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 1rem;
  display: inline-block;
  height: 100%;
  width: 100%;
  transform: translate(-100%, -100%);

  transition: all 0.4s;
}

.btn:hover::before {
  transform: translate(0, 0);
}

span {
  position: relative;
  z-index: 111;
  transition: all 0.4s;
}

.btn:hover span {
  color: transparent;
  background-image: linear-gradient(to bottom right, darkblue, darkblue);
  -webkit-background-clip: text;
}

.wrong {
  background-image: var(--wrong-gradient);
}

.correct {
  background-image: var(--correct-gradient);
}

.btn.correct {
  color: black;
}

.hide {
  display: none;
}

.btn.correct::before,
.btn.wrong::before {
  background-image: none;
}

.btn.correct:hover span {
  background-image: none;
  color: black;
}

.btn.wrong:hover span {
  background-image: none;
  color: white;
}
